{% extends 'base.html' %}
{% block content %}

    <div class="row">
    {% for potato in potatoes %}
      <div class="col-sm-12 col-md-4">
        <div class="card">

        <!--{{potato.title}}
        {{potato.rating}}
        {{potato.image_url}}
        {{potato.comment}}-->

          <div class="card-image">
            <img src="{{potato.image_url}}">
            <span class="card-title">{{potato.title}}</span>
          </div>
          <div class="card-action">
            <a href="{{url_for('profile', potato_id=potato._id)}}">Rate this Potato</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}