{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-6">
			<h1>{{potato.title}}</h1>
			<div class="rate">
				<input type="radio" id="star5" name="rate" value="5" />
				<label for="star5" title="text">5 stars</label>
				<input type="radio" id="star4" name="rate" value="4" />
				<label for="star4" title="text">4 stars</label>
				<input type="radio" id="star3" name="rate" value="3" />
				<label for="star3" title="text">3 stars</label>
				<input type="radio" id="star2" name="rate" value="2" />
				<label for="star2" title="text">2 stars</label>
				<input type="radio" id="star1" name="rate" value="1" />
				<label for="star1" title="text">1 star</label>
			</div>
		</div>
		<div class="col-md-6 col-lg-6">
			<img class="potato_image" src="{{potato.image_url}}">
        </div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<p>{{potato.comment}}</p>
			</div>
			<div class="col-md-6 col-lg-6">
			</div>
		</div>
	</div>
	{% endblock %}